div {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}
h2 {
    color: red;
    text-transform: capitalize;
}

h3 {
    color: grey;
    text-transform: capitalize;
}

h4 {
    text-transform: capitalize;
}